<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Mail</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="medium" expand="full">
    Se connecter
  </ion-button>
  <ion-button class="ion-padding"
              color="light"
              expand="full"
              [routerLink]="['/inscription']">
    S'inscrire
  </ion-button>
</ion-content>
